@import './variables';

$defaultSize: 40px;
$defaultPosition: calc($defaultSize / 2);

button.shupp-add-favorite-btn {
  height: inherit;
  width: inherit;
  user-select: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.liked {
    svg {
      stroke: var(--shupp-liked-icon-stroke);
      fill: var(--shupp-liked-icon-fill);
    }
  }

  svg {
    width: 100%;
    height: 100%;
    stroke: var(--shupp-like-icon-stroke);
    stroke-width: var(--shupp-icon-stroke-width);
    fill: var(--shupp-like-icon-fill);
  }
}