@import './variables';

$defaultSize: 40px;
$defaultPosition: calc($defaultSize / 2);

.shupp-add-favorite-button {
  height: inherit;
  width: inherit;

  &:hover {
    cursor: pointer;
  }

  &.liked {
    svg {
      stroke: var(--shupp-liked-icon-stroke);
      fill: var(--shupp-liked-icon-fill);
    }
  }

  svg {
    width: inherit;
    height: inherit;
    stroke: var(--shupp-like-icon-stroke);
    stroke-width: var(--shupp-icon-stroke-width);
    fill: var(--shupp-like-icon-fill);
  }
}