@import './variables';

$defaultSize: 40px;
$defaultPosition: calc($defaultSize / 2);

.shupp-add-favorite-button {
  height: inherit;
  width: inherit;

  &:hover {
    cursor: pointer;
  }

  &.liked {
    svg {
      stroke: var(--shupp-icon-liked);
      fill: var(--shupp-icon-liked);
    }
  }

  svg {
    width: inherit;
    height: inherit;
    stroke: var(--shupp-icon-default);
    fill: none;
  }
}